.subtotal {
   display: flex;
   flex-direction: column;
   padding: 30px 30px;
   width: 100%;
   background-color: #f3f3f3;
   border: 1px solid #dddddd;
   border-radius: 5px;
   margin-left: auto;
   margin-right: 10px;
}

.subtotal p {
   font-size: 30px;
}

.subtotal_gift {
   margin: 20px 0;
   display: flex;
   align-items: center;
   font-size: 17px;
}

.subtotal_gift input {
   margin-right: 5px;
}

.subtotal button {
   background: orange;
   border-radius: 2px;
   width: 100%;
   height: 30px;
   border: 1px solid;
   margin-top: 10px;
   border-color: #a88734 #9c7e31 #846a29;
   color: #111;
}